@import url(./reset.css);
@import url(./variables.css);

/* hero index section */
.hero {
    margin-top: 1rem;
    height: auto;
    width: 100%;
}

.hero article {
    margin-top: 4rem;
    background: rgba(255, 245, 110, 0.8);
    padding: 1rem;
    border-radius: var(--img-radius);
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero article * {
    max-width: 75ch;
}

.hero h1 {
    text-transform: capitalize;
    max-width: 65%;
}


.hero-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.hero-text span {
    width: 40%;
    font-family: 'Anton', sans-serif;
    font-size: 7.5rem;
    font-size: clamp(1.75rem, 4vw + 0.8rem, 7.5rem);
    text-align: left;
    transform: translateX(0px);
    transition: transform 3s ease;

}

.hero-text span:hover {
    transform: translateX(60px);
    transition: transform 3s ease;


}

.hero-imgs {
    width: 70%;
    height: 5rem;
    background: red;
    display: block;
}

.hero-img1 {
    height: 150px;
    background: blue;
    border-radius: var(--img-radius);
    background-image: url(../assets/space-bg-hero1-min.jpeg);
    background-position: 50% 33%;
    background-size: 140%;
    transition: background-size 3s ease;
    transform: rotate(-4deg);
}

.hero-img1:hover {
    background-size: 100%;

}

.hero-img2 {
    height: 200px;
    background: blue;
    border-radius: var(--img-radius);
    background-image: url(../assets/leaf-hero-img3-min.jpeg);
    background-position: center;
    background-size: 150%;
    transition: background-size 3s ease;
    transform: rotate(2deg);
}

.hero-img2:hover {
    background-size: 120%;

}

.hero-img3 {
    height: 180px;
    background: purple;
    border-radius: var(--img-radius);
    background-image: url(../assets/electrode-hero-img2-min.jpeg);
    background-position: center;
    background-size: 150%;
    transition: background-size 3s ease;
    transform: rotate(-3deg);
}

.hero-img3:hover {
    background-size: 100%;

}

.hero article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (max-width: 650px) {
    .hero-imgs {
        height: 5rem;
    }

    .hero-text span:hover {
        transform: translateX(15px);
        transition: transform 2s ease;


    }

}


/* welcome section */

.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




/* discover section */

.discover {
    background: none;
    margin: 2rem 0;

}

.discover h2 {
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}

.grid div {
    width: 100%;
    height: max-content;

}

.grid div img {
    width: 100%;
    height: auto;
    border-radius: var(--img-radius);
}


.relative {
    position: relative;
}

.relative:hover {
    transform: scale(0.97);
    box-shadow: 8px 8px 0 rgba(228, 44, 188, 0.6);
}

.absolute-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: black;
    color: var(--dull-white);
    padding: 1rem;
}

@media (max-width: 780px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* __________________SPECIAL EVENTS_______________________ */

.special-events {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.professor,
.energetica,
.sleepover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--img-radius);
    padding: 0.5rem 2rem;
    gap: 2rem;
}

.professor {
    background: rgba(47, 255, 75, 0.6);

}

.energetica {
    background: rgba(251, 39, 255, 0.6);

}

.sleepover {
    background: rgba(25, 243, 255, 0.6);

}

.professor img,
.energetica img {
    width: 100%;
    max-width: 420px;
}

.sleepover img {
    width: 100%;
    max-width: 240px;

}

.professor div,
.energetica div,
.sleepover div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.professor div p,
.energetica div p,
.sleepover div p {
    width: 100%;
    max-width: 42ch;
}

@media only screen and (max-width: 900px) {

    .professor,
    .energetica {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .sleepover {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 1rem;

    }
}