/* POLICY */

section h1 {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
}

li {
    margin-left: 2rem;
}

.tos-page,
.pp-page {
    display: none;
}

#tos[type=radio]:checked~.tos-page,
#pp[type=radio]:checked~.pp-page {
    display: block;
}

.outline-style {
    outline: 1px solid black;
    padding: 2rem;
}

p,
li {
    max-width: 72ch;
}

input {
    margin-bottom: 1rem;
}

label {
    font-size: 24px;
}

@media only screen and (max-width: 550px) {
    .outline-style {
        padding: 0.75rem;
    }

}