/* POLICY */

#tos-pp-cont h1 {
    margin-bottom: 2rem;
}

#tos-pp-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#tos-pp-cont label {
    margin-right: 1rem;
}

h2 {
    margin-top: 2rem;
}

li {
    margin-left: 2rem;
}

.tos-page,
.pp-page {
    display: none;
}

#tos[type=radio]:checked~.tos-page,
#pp[type=radio]:checked~.pp-page {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);

}

.outline-style {
    outline: 1px solid black;
    padding: 2rem;
    margin-top: 1rem;
}

p,
li {
    max-width: 72ch;
}


label {
    font-size: 24px;

}

@media only screen and (max-width: 550px) {
    .outline-style {
        padding: 0.75rem;
    }

}